{% extends 'staffindex.html'  %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="conductexam">
  <div align="center">
    <table class="btn btn-success">
      <tr>
        <td colspan="2"><div align="center">ADD EXAM</div></td>
      </tr>
      <tr>
        <td width="103">SUBJECT</td>
        <td width="217"><label>
        <select name="subject">
          {% for i in val %}
          <option value="{{ i.id }}">{{ i.subject }}</option>
          {% endfor %}
      </select>
        </label></td>
      </tr>
      <tr>
        <td>QUESTION</td>
        <td><label>
          <input type="text" name="question" />
        </label></td>
      </tr>
      <tr>
        <td>OPTION 1 </td>
        <td><label>
          <input type="text" name="opt1" />
        </label></td>
      </tr>
      <tr>
        <td>OPTION 2 </td>
        <td><label>
          <input type="text" name="opt2" />
        </label></td>
      </tr>
      <tr>
        <td>OPTION 3 </td>
        <td><label>
          <input type="text" name="opt3" />
        </label></td>
      </tr>
      <tr>
        <td>OPTION 4 </td>
        <td><label>
          <input type="text" name="opt4" />
        </label></td>
      </tr>
      <tr>
        <td>ANSWER</td>
        <td><label>
          <input type="text" name="answer" />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="ADD" class="btn btn-success"/>
          </div>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
