{% extends 'staffindex.html'  %}
{% block body %}

<body>
<form action="fileuploadmaterial" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="btn btn-success">
    <tr>
      <td width="185">subject</td>
      <td width="336"><label>
        <select name="select">
            {% for i in val  %}
            <option value="{{ i.id }}">{{ i.subject }}</option>
            {% endfor  %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>materials</td>
      <td><a href="#">
        <label></label>
        <label>
        <input type="file" name="file" />
        </label>
      </a></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Add" />
        </div>
      </label></td><    </tr>
  </table>
  <label></label>
</form>
</body>
{% endblock %}
