{% extends 'adminindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addsubject#about">
  <table class="table table-striped">
    <tr>
      <td>department</td>
      <td><label>
        <select name="department">
            {% for i in val %}
          <option value="{{ i.id }}">{{ i.department }}</option>
          {% endfor %}
        </select>
      </label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>semester</td>
      <td><label>
        <select name="semester">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
        </select>
      </label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>subject</td>
      <td><label>
        <input type="text" name="subject" />
      </label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><center><label>
        <div>
          <input type="submit" name="Submit" value="Submit" class="btn btn-success"/>
          </div>
      </label></center></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
