{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'adminindex.html'  %}
{% block body  %}
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="326" border="1">
      <tr>
        <td><div align="center">ADMIN</div></td>
      </tr>
      <tr>
        <td width="316"><a href="viewstaff">MANAGE STAFF </a></td>
      </tr>
      <tr>
        <td><a href="viewdept">MANAGE DEPARTMENT </a></td>
      </tr>
      <tr>
        <td><a href="viewstudadmin">VIEW STUDENT </a></td>
      </tr>
      <tr>
        <td><a href="viewnotification">SEND NOTIFICATION </a></td>
      </tr>
      <tr>
        <td><a href="viewcomplaint">VIEW COMPLAINTS AND SEND REPLY </a></td>
      </tr>
      <tr>
        <td><a href="viewfeedback">VIEW FEEDBACK </a></td>
      </tr>
      <tr>
        <td><a href="postsubject">MANAGE SUBJECT </a></td>
      </tr>
      <tr>
        <td><a href="allocatedsub">ALLOCATED SUBJECT TO STAFF </a></td>
      </tr>

        <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit2" value="Logout" />
          </div>
      </label></td>
    </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
