{% extends 'adminindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="allocatingstaff">
  <div align="center">
    <table width="518" border="1">
      <tr>
        <td colspan="2"><div align="center">ALOCATING SUBJECT </div></td>
      </tr>
      <tr>
        <td width="103">SUBJECT</td>
        <td width="399"><label>
          <select name="subject">
          {% for i in val %}
          <option value="{{ i.id }}">{{ i.subject }}</option>
          {% endfor %}
      </select>
        </label></td>
      </tr>
      <tr>
        <td colspan="2">STAFF
          <label>
          <select name="staff">
          {% for i in va %}
          <option value="{{ i.id }}">{{ i.fname }} {{ i.lname }}</option>
          {% endfor %}
      </select>
          </label></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="ALOCATE" />
          </div>
        </label></td>
      </tr>
      </table>
  </div>
  <div align="center"></div>
  <label></label>
</form>
</body>
{% endblock %}
