<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="allocatingstaff">
  <div align="center">
    <table width="518" border="1">
      <tr>
        <td colspan="2"><div align="center">ALOCATING SUBJECT </div></td>
      </tr>
      <tr>
        <td width="103">SUBJECT</td>
        <td width="399"><label>
          <select name="subject">
          {% for i in val %}
          <option value="{{ i.id }}">{{ i.subject }}</option>
          {% endfor %}
      </select>
        </label></td>
      </tr>
      <tr>
        <td colspan="2">STAFF
          <label>
          <select name="staff">
          {% for i in va %}
          <option value="{{ i.id }}">{{ i.fname }} {{ i.lname }}</option>
          {% endfor %}
      </select>
          </label></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="ALOCATE" />
          </div>
        </label></td>
      </tr>
      </table>
  </div>
  <div align="center"></div>
  <label></label>
</form>
</body>
</html>
