{% extends 'adminindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="searchsubject#about">
  <table width="200" border="1">
    <tr>
      <td>Department</td>
      <td colspan="3"><label>
        <select name="select">
        </select>
        <input type="submit" name="Submit" value="Search">
      </label></td>
    </tr>
    <tr>
      <td>Subjects</td>
      <td colspan="3" rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
