{% extends 'adminindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="postdept#about">
  <div align="center">
    <table lass="table table-striped">
      <tr>
        <td colspan="2"><div align="center">DEPARTMENT</div></td>
      </tr>
      <tr>
        <td width="103">DEPARTMENT</td>
        <td width="264"><label>
          <input type="text" name="department" />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><center><label>
          <div>
            <input type="submit" name="Submit" value="POST" class="btn btn-success"/>
        </div>
        </label></center></td>
      </tr>
      </table>
  </div>
  <div align="center"></div>
  <label></label>
</form>
</body>
{% endblock %}
