{% extends 'adminindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="searchsubject#about">
  <table class="table table-striped">
    <tr>
      <td width="144">Department</td>
      <td width="118"><label>
      <select name="select">
          {% for i in val %}
          <option value="{{ i.id }}" {% if  i.id == val.id %} selected {% endif  %}>{{ i.department }}</option>
          {% endfor %}
      </select>
      <input type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td>Subject</td>
      <td>Semester</td>
      <td></td>
    </tr>
  {% for i in val1  %}
      <tr>
      <td>{{ i.subject }} </td>
      <td>{{ i.semester }} </td>
      <td><a href="{% url 'deletedepartment' id=i.id %}">Delete</a> </td>
    </tr>
  {% endfor  %}

    <tr>
      <td colspan="2"><label><center>
          <a href="insertsubject">Add new subject</a>
{#        <div align="center">#}
{#          <input type="submit" name="Submit2" value="Add" />#}
          {#          </div>#}</center>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
