{% extends 'user.html'  %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="adddoubt">
  <div align="center">
    <table width="339" border="1">
      
      <tr>
        <td width="112" height="46">Staff</td>
        <td width="211"><label>
          <select name="s">
              {% for i in val  %}
              <option value="{{ i.id }}">{{ i.fname }} {{ i.lname }}</option>
              {% endfor %}
          </select>
        </label></td>
      </tr><tr>
        <td width="112" height="46">Doubt</td>
        <td width="211"><label>
          <textarea name="doubt"></textarea>
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="POST" />
        </div>
        </label></td>
      </tr>
      </table>
  </div>
  <div align="center"></div>
  <label></label>
</form>
</body>
{% endblock %}
