{% extends 'adminindex.html'  %}
{% block body %}

<body>
<form action="{% url 'compreply' %}" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div align="center">
    <table class="table table-striped">
      
      <tr>
        <td width="103">Reply</td>
        <td width="152"><label>
          <input type="text" name="textfield" />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><center><label>
          <div>
            <input type="submit" name="Submit" value="Post" class="btn btn-success"/>
            </div>
        </label></center></td>
      </tr>
    </table>
  </div>
  <div align="center"></div>
  <label></label>
</form>
</body>
{% endblock %}
