{% extends 'adminindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="staffadd">
  <div align="center">
    <table class="table table-striped">
      <tr>
        <td colspan="2"><div align="center">STAFF</div></td>
      </tr>
      <tr>
        <td width="103">FIRSTNAME</td>
        <td width="217"><label>
          <input type="text" name="fname" />
        </label></td>
      </tr>
      <tr>
        <td>LASTNAME</td>
        <td><label>
          <input type="text" name="lname" />
        </label></td>
      </tr>
      <tr>
        <td>PHONE</td>
        <td><label>
          <input type="text" name="phone" />
        </label></td>
      </tr>
        <tr>
  <td>Gender</td>
  <td><label>
    <input name="gender" type="radio" value="male" />
  male</label>
    <label>
    <input name="gender" type="radio" value="female" />
  female</label></td>
</tr>
      <tr>
        <td>DEPARTMENT</td>
        <td><label>
          <input type="text" name="department" />
        </label></td>
      </tr>
      <tr>
        <td>PLACE</td>
        <td><label>
          <input type="text" name="place" />
        </label></td>
      </tr>
      <tr>
        <td>POST</td>
        <td><label>
          <input type="text" name="post" />
        </label></td>
      </tr>
      <tr>
        <td>PIN</td>
        <td><label>
          <input type="text" name="pin" />
        </label></td>
      </tr>
      <tr>
        <td>EMAIL</td>
        <td><label>
          <input type="text" name="email" />
        </label></td>
      </tr>
      <tr>
        <td>USERNAME</td>
        <td><label>
          <input type="text" name="username" />
        </label></td>
      </tr>
      <tr>
        <td>PASSWORD</td>
        <td><label>
          <input name="password" type="password" />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><center><label>
          <div>
            <input type="submit" name="Submit" value="Submit" class="btn btn-success"/>
            </div>
        </label></center></td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
