{% extends 'user.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="466" border="1">
    <tr>
      <td width="141">Subject</td>
      <td width="201">Materials</td>
        <td></td>
    </tr>
      {% for i in val  %}
    <tr>
      <td>{{ i.sub_id.subject }}</td>
      <td>{{ i.materials }}</td>
        <td> <a href="{{ i.materials.url }}" download>Download</a> </td>
    </tr>
      {% endfor  %}
{#    <tr>#}
{#      <td> </td>#}
{#      <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td colspan="2"><label>#}
{#        <div align="center">#}
{#          <input type="submit" name="Submit2" value="Add" />#}
{#          </div>#}
{#      </label></td>#}
{#    </tr>#}
  </table>
</form>
</body>
{% endblock %}
