{% extends 'staffindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="dreply">
  <table class="btn btn-success">
    
    <tr>
      <td width="103">NAME</td>
      <td width="105">Doubt</td>
      <td width="105">DATE</td>
      <td width="105">&nbsp;</td>
    </tr>
      {% for i in val  %}
    <tr>
      <td>&nbsp;{{ i.stud_id.fname }} {{ i.stud_id.lname }} </td>
      <td> {{ i.doubt }} </td>
      <td>{{ i.date }} </td>
      <td><label><a href="dreply/{{ i.id }}">Reply</a>
{#        <input type="submit" name="Submit" value="Reply" />#}
      </label></td>
    </tr>
      {% endfor  %}
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
