{% extends 'adminindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    
    <tr>
      <td width="103">NAME</td>
      <td width="105">COMPLAINT</td>
      <td width="105">DATE</td>
      <td width="105">&nbsp;</td>
    </tr>
      {% for i in val  %}
    <tr>
      <td> {{ i.stud_id.fname }} {{ i.stud_id.lname }} </td>
      <td> {{ i.complaint }} </td>
      <td>&nbsp;{{ i.date }} </td>
      <td>

          {% if i.reply == 'pending' %}

          <p><a href=""></a><a href="{%  url 'reply' id=i.id %}">REPLY</a></p>
          {% else %}
          replied
          {% endif %}
      </td>
    </tr>
      {% endfor  %}
  </table>
</form>
</body>
{% endblock %}
