{% extends 'adminindex.html'  %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="postnotification">
  <table width="374" border="1">
    
    <tr>
      <td width="103">NOTIFICATION</td>
      <td width="105">DATE</td>
      <td width="105">MANAGE</td>
    </tr>
      {% for i in val  %}

    <tr>
      <td>&nbsp;{{ i.notification }}</td>
      <td>&nbsp;{{ i.date }}</td>


      <td>
      <p><a href="{% url 'deletenotification' id=i.id %}">DELETE</a></p></td>
    </tr>
    {% endfor %}
      <tr>
      <td colspan="9"><label>
        <div align="center">
          <input type="submit" name="Submit" value="add new" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
