{% extends 'staffindex.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="poststudymaterials">
  <table class="table table-striped">
    <tr>
      <td width="185">studymaterials</td>
      <td width="336">&nbsp;</td>
    </tr>
      {% for i in val  %}
    <tr>

      <td><a href="./media/{{ i.materials }} ">{{ i.materials }}</a></td>
      <td><a href="">delete</a></td>

    </tr>
      {% endfor %}

    <tr>
      <td colspan="2"><center><label>
        <div>
          <input type="submit" name="Submit" value="ADD" class="btn btn-success"/>
          </div>
      </label></center></td>    </tr>
  </table>
  <label></label>
</form>
</body>
{% endblock %}
